h1 { font-family: "Poppins", Helvetica, Arial, sans-serif; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }

h3 { font-family: "Poppins", Helvetica, Arial, sans-serif; font-size: 48px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color: #031036;}

h2 { font-family: "Poppins", Helvetica, Arial, sans-serif; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; margin-bottom: 20px; color: #031036; }

h4 { font-family: "Poppins", Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 15.4px; color: white;}

h5 { font-family: "Poppins", Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px; color: #031036;}

h6 { font-family: 'Poppins'; font-style: normal; font-weight: 300; font-size: 18px; text-align: center; color: #FFFFFF; }

p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; color: #031036; margin-bottom: 16px;}


* {
  border: 0;
  margin: 0;
  padding: 0;
}

#xtra {
  font-weight: 600;
}

/* menu buttons */

header * {
  display: inline;
  color: white;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.menubar {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#fullmark {
  height: 35px;
  width: auto;
  margin-right: 60%;
  margin-left: 5%;
}

#menubs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 15%;
  flex: none;
  order: 1;
  flex-flow: row;
  font-family: 'Helvetica';
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 200;
  color: #FFFFFF;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #FFFFFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* About Page */

#landingscreen {
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(100.04deg, #031036 31.27%, #285ACF 120.03%);
  /* box-shadow: 0px 4px 30px #031036; */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

#box1 {
  display: flex;
  gap: 40px;
  position: absolute;
  left: 12%;
  top: 30%;
}

#box1a {
  gap: 15px;
}

#box1a * {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#box1b {
  display: flex;
  gap: 20px;
}

#box1c {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#welcome {
  font-weight: 250;
  font-size: 18px;
  letter-spacing: 0.2em;
  order: 0;
}

#chat {
  color: white;
  font-weight: 300;
  font-size: 18px;
  order: 2;
}

#control {
  width: 183px;
  height: auto;
}

#wordmark {
  border: 0px;
  order: 1;
  width: 450px;
  height: auto;
  top: 240px;
}

#graphic {
  position: absolute;
  width: auto;
  height: 450px;
  right: 10%;
  animation: updown2 4s ease infinite;
}

#arrow {
  position: absolute;
  width: 15px;
  height: auto;
  left: 50%;
  top: 85%;
  background-color: transparent;
  border: none;
  opacity: 50%;
}

#arrow:hover {
  opacity: 100%;
}

@keyframes updown2 {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}

button {
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  background-color: #031036;
  color: #FFFFFF;
  cursor: pointer;
}

.downloads {
  transition-duration: 0.5s;
}

.downloads:hover {
  background-color: #FFFFFF;
  color: #031036;
}

#textblock {
  margin-top: 63%;
  margin-left: 20%;
  margin-right: 20%;
}

#box2 {
  flex-direction: row;
  align-items: flex-start;
}

#demopic {
  width: 300px;
  height: auto;
  margin-right: 5%;
  border-radius: 15px;
}

#box2a {
  flex-direction: column;
  text-align: left;
}

.textblock2 {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  width: 60%;
}

.textblock5 {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.imagepic {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  margin-bottom: 5%;
}

.features {
  width: 90%;
  height: auto;
}

#participants {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  background-color: #031036;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
